* {
  margin: 0;
  padding: 0;
}

body {
  font-family: '微軟正黑體';
}

img {
  width: 100%;
}

.container {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  padding: 4rem 0;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:first-child {
  text-align: center;
}

.card:not(:first-child) .txt {
  align-self: flex-start;
}

.card .pic {
  width: 55%;
  margin-bottom: 3rem;
}

.card h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    height: 720px;
    margin: 0 auto;
    display: block;
    padding: 0;
    position: relative;
  }

  .card {
    width: 30%;
    max-width: 400px;
    border-bottom: none;
    padding: 0;
    position: absolute;
  }

  .card:not(:first-child) {
    display: block;
    max-width: 120px;
  }

  .card .pic {
    width: 100%;
    margin-bottom: 0;
  }

  .card:first-child .pic {
    width: 45%;
    margin-bottom: 1rem;
  }

  .card:first-child h2,
  .card:first-child h3,
  .card:first-child p {
    display: none;
  }

  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .card p {
    font-size: 1rem;
    min-width: max-content;
  }

  .card:not(:first-child) h3 {
    text-align: center;
    margin-top: -5px;
    margin-bottom: 0;
  }

  .card:not(:first-child) p {
    display: none;
  }

  .taiLogo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .html {
    top: 10%;
    left: 0;
  }

  .css {
    top: 5%;
    left: 25%;
  }

  .js {
    top: 45%;
    left: 10%;
  }

  .jq {
    top: 70%;
    left: 23%;
  }

  .bs {
    top: 5%;
    right: 23%;
  }

  .sass {
    top: 30%;
    right: 5%;
  }

  .vue {
    top: 65%;
    right: 15%;
  }

  .html::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 230px;
    height: 2.5px;
    top: 80%;
    left: 100%;
    transform-origin: left;
    transform: rotate(25deg);
  }

  .css::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 105px;
    height: 2.5px;
    top: 90%;
    left: 100%;
    transform-origin: left;
    transform: rotate(60deg);
  }

  .js::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 135px;
    height: 2.5px;
    top: 50%;
    left: 100%;
    transform-origin: left;
    transform: rotate(-18deg);
  }

  .jq::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 150px;
    height: 2.5px;
    top: 10%;
    left: 75%;
    transform-origin: left;
    transform: rotate(-55deg);
  }

  .bs::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 110px;
    height: 2.5px;
    top: 90%;
    right: 105%;
    transform-origin: right;
    transform: rotate(-60deg);
  }

  .sass::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 160px;
    height: 2.5px;
    top: 50%;
    right: 110%;
    transform-origin: right;
    transform: rotate(-20deg);
  }

  .vue::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 120px;
    height: 2.5px;
    top: 0;
    right: 110%;
    transform-origin: right;
    transform: rotate(40deg);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .card:first-child h2,
  .card:first-child h3,
  .card:first-child p {
    display: block;
  }

  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .card p {
    font-size: 1rem;
    min-width: max-content;
  }

  .html::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 390px;
    height: 2.5px;
    top: 80%;
    left: 100%;
    transform-origin: left;
    transform: rotate(10deg);
  }

  .css::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 110px;
    height: 2.5px;
    top: 80%;
    left: 100%;
    transform-origin: left;
    transform: rotate(30deg);
  }

  .js::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 290px;
    height: 2.5px;
    top: 60%;
    left: 100%;
    transform-origin: left;
    transform: rotate(-22deg);
  }

  .jq::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 235px;
    height: 2.5px;
    top: 10%;
    left: 75%;
    transform-origin: left;
    transform: rotate(-48deg);
  }

  .bs::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 125px;
    height: 2.5px;
    top: 80%;
    right: 110%;
    transform-origin: right;
    transform: rotate(-30deg);
  }

  .sass::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 315px;
    height: 2.5px;
    top: 50%;
    right: 110%;
    transform-origin: right;
    transform: rotate(-3deg);
  }

  .vue::after {
    content: '';
    position: absolute;
    background-color: #ccc;
    width: 265px;
    height: 2.5px;
    top: 20%;
    right: 110%;
    transform-origin: right;
    transform: rotate(35deg);
  }
}
